# AutoEncoders

## Importing the dataset

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the Dataset

In [21]:
movies  = pd.read_csv('ml-1m\movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [22]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [23]:
users = pd.read_csv('ml-1m\\users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [24]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [25]:
ratings = pd.read_csv('ml-1m\\ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [26]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

## Preparing the Training and Test set

In [27]:
training_set = pd.read_csv('ml-100k\\u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = int)

In [28]:
test_set = pd.read_csv('ml-100k\\u1.test', delimiter = '\t')
test_set = np.array(training_set, dtype = int)

## Getting the number of Users and the Movies

In [29]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

In [30]:
nb_users

943

In [31]:
nb_movies

1682

## Converting the data into an array with users in lines and movies in columns

In [32]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [34]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the Neural Network

In [35]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training SAE

In [36]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7709)
epoch: 2loss: tensor(1.0968)
epoch: 3loss: tensor(1.0536)
epoch: 4loss: tensor(1.0385)
epoch: 5loss: tensor(1.0309)
epoch: 6loss: tensor(1.0265)
epoch: 7loss: tensor(1.0238)
epoch: 8loss: tensor(1.0217)
epoch: 9loss: tensor(1.0208)
epoch: 10loss: tensor(1.0198)
epoch: 11loss: tensor(1.0187)
epoch: 12loss: tensor(1.0183)
epoch: 13loss: tensor(1.0180)
epoch: 14loss: tensor(1.0173)
epoch: 15loss: tensor(1.0171)
epoch: 16loss: tensor(1.0169)
epoch: 17loss: tensor(1.0166)
epoch: 18loss: tensor(1.0163)
epoch: 19loss: tensor(1.0164)
epoch: 20loss: tensor(1.0160)
epoch: 21loss: tensor(1.0159)
epoch: 22loss: tensor(1.0161)
epoch: 23loss: tensor(1.0157)
epoch: 24loss: tensor(1.0157)
epoch: 25loss: tensor(1.0155)
epoch: 26loss: tensor(1.0156)
epoch: 27loss: tensor(1.0156)
epoch: 28loss: tensor(1.0149)
epoch: 29loss: tensor(1.0132)
epoch: 30loss: tensor(1.0111)
epoch: 31loss: tensor(1.0101)
epoch: 32loss: tensor(1.0089)
epoch: 33loss: tensor(1.0060)
epoch: 34loss: tensor(1.0050)
epoch: 35loss: tensor(1.0012)
epoch: 36loss: tensor(1.0013)
epoch: 37loss: tensor(0.9984)
epoch: 38loss: tensor(0.9969)
epoch: 39loss: tensor(0.9934)
epoch: 40loss: tensor(0.9927)
epoch: 41loss: tensor(0.9878)
epoch: 42loss: tensor(0.9904)
epoch: 43loss: tensor(0.9907)
epoch: 44loss: tensor(0.9918)
epoch: 45loss: tensor(0.9872)
epoch: 46loss: tensor(0.9873)
epoch: 47loss: tensor(0.9842)
epoch: 48loss: tensor(0.9830)
epoch: 49loss: tensor(0.9781)
epoch: 50loss: tensor(0.9819)
epoch: 51loss: tensor(0.9782)
epoch: 52loss: tensor(0.9783)
epoch: 53loss: tensor(0.9801)
epoch: 54loss: tensor(0.9736)
epoch: 55loss: tensor(0.9734)
epoch: 56loss: tensor(0.9739)
epoch: 57loss: tensor(0.9728)
epoch: 58loss: tensor(0.9681)
epoch: 59loss: tensor(0.9666)
epoch: 60loss: tensor(0.9635)
epoch: 61loss: tensor(0.9611)
epoch: 62loss: tensor(0.9619)
epoch: 63loss: tensor(0.9606)
epoch: 64loss: tensor(0.9587)
epoch: 65loss: tensor(0.9595)
epoch: 66loss: tensor(0.9639)
epoch: 67loss: tensor(0.9640)
epoch: 68loss: tensor(0.9651)
epoch: 69loss: tensor(0.9589)
epoch: 70loss: tensor(0.9562)
epoch: 71loss: tensor(0.9523)
epoch: 72loss: tensor(0.9521)
epoch: 73loss: tensor(0.9513)
epoch: 74loss: tensor(0.9520)
epoch: 75loss: tensor(0.9618)
epoch: 76loss: tensor(0.9515)
epoch: 77loss: tensor(0.9521)
epoch: 78loss: tensor(0.9570)
epoch: 79loss: tensor(0.9508)
epoch: 80loss: tensor(0.9518)
epoch: 81loss: tensor(0.9500)
epoch: 82loss: tensor(0.9495)
epoch: 83loss: tensor(0.9491)
epoch: 84loss: tensor(0.9481)
epoch: 85loss: tensor(0.9467)
epoch: 86loss: tensor(0.9452)
epoch: 87loss: tensor(0.9447)
epoch: 88loss: tensor(0.9483)
epoch: 89loss: tensor(0.9482)
epoch: 90loss: tensor(0.9533)
epoch: 91loss: tensor(0.9594)
epoch: 92loss: tensor(0.9553)
epoch: 93loss: tensor(0.9512)
epoch: 94loss: tensor(0.9502)
epoch: 95loss: tensor(0.9487)
epoch: 96loss: tensor(0.9491)
epoch: 97loss: tensor(0.9514)
epoch: 98loss: tensor(0.9561)
epoch: 99loss: tensor(0.9543)
epoch: 100loss: tensor(0.9532)
epoch: 101loss: tensor(0.9473)
epoch: 102loss: tensor(0.9433)
epoch: 103loss: tensor(0.9434)
epoch: 104loss: tensor(0.9425)
epoch: 105loss: tensor(0.9408)
epoch: 106loss: tensor(0.9419)
epoch: 107loss: tensor(0.9411)
epoch: 108loss: tensor(0.9406)
epoch: 109loss: tensor(0.9390)
epoch: 110loss: tensor(0.9418)
epoch: 111loss: tensor(0.9424)
epoch: 112loss: tensor(0.9401)
epoch: 113loss: tensor(0.9391)
epoch: 114loss: tensor(0.9396)
epoch: 115loss: tensor(0.9381)
epoch: 116loss: tensor(0.9378)
epoch: 117loss: tensor(0.9362)
epoch: 118loss: tensor(0.9377)
epoch: 119loss: tensor(0.9365)
epoch: 120loss: tensor(0.9363)
epoch: 121loss: tensor(0.9352)
epoch: 122loss: tensor(0.9350)
epoch: 123loss: tensor(0.9342)
epoch: 124loss: tensor(0.9342)
epoch: 125loss: tensor(0.9330)
epoch: 126loss: tensor(0.9334)
epoch: 127loss: tensor(0.9321)
epoch: 128loss: tensor(0.9318)
epoch: 129loss: tensor(0.9311)
epoch: 130loss: tensor(0.9312)
epoch: 131loss: tensor(0.9308)
epoch: 132loss: tensor(0.9308)
epoch: 133loss: tensor(0.9300)
epoch: 134loss: tensor(0.9304)
epoch: 135loss: tensor(0.9294)
epoch: 136loss: tensor(0.9303)
epoch: 137loss: tensor(0.9285)
epoch: 138loss: tensor(0.9324)
epoch: 139loss: tensor(0.9286)
epoch: 140loss: tensor(0.9281)
epoch: 141loss: tensor(0.9299)
epoch: 142loss: tensor(0.9287)
epoch: 143loss: tensor(0.9280)
epoch: 144loss: tensor(0.9277)
epoch: 145loss: tensor(0.9270)
epoch: 146loss: tensor(0.9269)
epoch: 147loss: tensor(0.9265)
epoch: 148loss: tensor(0.9267)
epoch: 149loss: tensor(0.9262)
epoch: 150loss: tensor(0.9255)
epoch: 151loss: tensor(0.9257)
epoch: 152loss: tensor(0.9255)
epoch: 153loss: tensor(0.9249)
epoch: 154loss: tensor(0.9253)
epoch: 155loss: tensor(0.9245)
epoch: 156loss: tensor(0.9246)
epoch: 157loss: tensor(0.9234)
epoch: 158loss: tensor(0.9238)
epoch: 159loss: tensor(0.9238)
epoch: 160loss: tensor(0.9238)
epoch: 161loss: tensor(0.9230)
epoch: 162loss: tensor(0.9231)
epoch: 163loss: tensor(0.9226)
epoch: 164loss: tensor(0.9233)
epoch: 165loss: tensor(0.9222)
epoch: 166loss: tensor(0.9227)
epoch: 167loss: tensor(0.9222)
epoch: 168loss: tensor(0.9221)
epoch: 169loss: tensor(0.9221)
epoch: 170loss: tensor(0.9215)
epoch: 171loss: tensor(0.9213)
epoch: 172loss: tensor(0.9216)
epoch: 173loss: tensor(0.9214)
epoch: 174loss: tensor(0.9216)
epoch: 175loss: tensor(0.9205)
epoch: 176loss: tensor(0.9207)
epoch: 177loss: tensor(0.9202)
epoch: 178loss: tensor(0.9208)
epoch: 179loss: tensor(0.9197)
epoch: 180loss: tensor(0.9204)
epoch: 181loss: tensor(0.9196)
epoch: 182loss: tensor(0.9200)
epoch: 183loss: tensor(0.9194)
epoch: 184loss: tensor(0.9193)
epoch: 185loss: tensor(0.9183)
epoch: 186loss: tensor(0.9200)
epoch: 187loss: tensor(0.9190)
epoch: 188loss: tensor(0.9189)
epoch: 189loss: tensor(0.9185)
epoch: 190loss: tensor(0.9189)
epoch: 191loss: tensor(0.9181)
epoch: 192loss: tensor(0.9185)
epoch: 193loss: tensor(0.9175)
epoch: 194loss: tensor(0.9180)
epoch: 195loss: tensor(0.9176)
epoch: 196loss: tensor(0.9182)
epoch: 197loss: tensor(0.9171)
epoch: 198loss: tensor(0.9177)
epoch: 199loss: tensor(0.9177)
epoch: 200loss: tensor(0.9187)

## Testing the SAE

In [37]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9167)